
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    color: #86878b;
}

h1 {
    margin-top: 35px;
    font-size: 36px;
    font-weight: 500;
}

h1:after {
    content: '';
    display: block;
    margin: 35px 0;
    height: 3px;
    width: 70px;
    background-color: white;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 20px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}

header {
    min-height: 100vh;
    box-shadow: 0 6px 4px -4px grey;
    position: relative;
    width: 100%;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
nav:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
}


.main-nav {
    display: flex;
    top:0;
    left: 0;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    min-height: 70px;
}


.nav-logo {
    font-size: 36px;
    display: flex;
    position: relative;
    z-index: 3;
}

.logo span:first-child {
    font-weight: 700;
    color: white;
}

.logo span:last-child {
    font-weight: 300;
    color: #ff9b51;
}

.menu {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.menu li a {
    position: relative;
    z-index: 3;
    margin-left: 10px;
    color: #b0b0b0;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    padding: 5px 10px;
    transition: background .1s linear;
}

.menu li a:hover {
    background-color: #ff9b51;
    color: black;
    border-radius: 5px;
}

.nav-burger {
    display: none;
}

@media all and (max-width: 767px) {
    
    .nav-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .nav-burger span {
        position: absolute;
        background-color: #9a9a9a;
        left: 0;
        width: 100%;
        height: 2px;
        top:9px;
        transition: all 0.3s linear;
    }
    .nav-burger::before,
    .nav-burger::after {
        content: "";
        background-color: #9a9a9a;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s linear;
    }
    .nav-burger::before {
        top: 0;
    }
    .nav-burger::after {
        bottom: 0;
    }
    .nav-burger.active span {
        transform: scale(0);
    }
    .nav-burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .nav-burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .menu {
        overflow: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        width: 50%;
        top: -100%;
        right: 0;
        overflow: auto;
        height: 40%;
        opacity: 0.9;
        background-color: #696c75;
        padding-top: 70px;
        transition: all 0.3s linear;
    }
    .menu.active{
        top:0;
    }
    .menu li {
        margin-top: 30px;
    }
    .menu li a {
        font-size: 25px;
        font-weight: 700;
        background-color: none;
        width: 100%;
        color: black;
        margin-left: 0px;
    }
    .menu li a:hover {
        background-color: transparent;
    }
    .menu li a:active {
        color: #ff8932;
    }
}

.promo {
    padding-top: 8vh;
    background-color: #9a9a9a;
}

.promo .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 640px;
    height: 80vh;
    
}

.promo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto 0;
    color: white;
    font-size: 16px;
    max-width: 550px;
}

.grey-button {
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    margin-top: 45px;
    padding: 10px 40px;
}

.grey-button:hover {
    background-color: gray;
}

.main-logo {
    font-size: 72px;
}

.trial {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 360px;
    margin: auto 0;
    box-shadow: 0 0 15px -5px black;
}

.trial h3 {
    padding: 20px 50px;
    background-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.trial span {
    color: #ff9b51;
    text-transform: uppercase;
}

.promo-form {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-input {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
}

.form-input::placeholder {
    font-size: 18px;
    color: #bdbdbd;
}

.promo button {
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0px;
    background-color: #ff9b51;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    transition: background-color 0.2s linear;
    outline: none;
    cursor: pointer;
}

.promo button:hover {
    background-color: #ff8932;
}

@media all and (max-width: 1004px) {
    .promo .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .promo {
        padding-top: 5vh;
    }
    .promo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto 0;
        color: white;
        font-size: 13px;
        max-width: 700px;
        max-height: 300px;
    }
    .main-logo {
        font-size: 45px;
    }
    h1 {
        font-size: 27px;
    }
    h1:after {
        margin: 15px auto;
    }
    .grey-button {
        margin-top: 20px;
    }
    .trial {
        height: 320px;
        width: 300px;
    }
    .trial h3 {
        font-size: 15px;
    }
    .promo button {
        padding: 15px 0px;
    }
}

.social {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    height: 12vh;
    align-items: center;

}

.social-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 365px;
}

.social-text p{
    margin-top: 5px;
}

.icon-header {
    margin-left: 30px;
    font-size: 48px;
    color: #cccccc;
    transition: background-color 0.2s linear;
}

.icon-header:hover {
    font-size: 48px;
    color: #ff9b51;
}

@media all and (max-width: 1004px) {
    .social {
        flex-direction: column;
    }
    .social-text {
        align-items: center;
    }
    .social-text p{
        font-size: 14px;
        text-align: center;
    }
    .icon-header {
        margin: 0;
        font-size: 40px;
    }
}

.tabs-color {
    background-color: #f5f5f5;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 800px;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto 0;    
}

.squares {
    box-shadow: 0 0 15px -5px black;
}

.square {
    font-size: 15px;
    font-weight: 700;
    padding: 55px;
    text-transform: uppercase;
    background-color: #333333;
    border: none;
    border-bottom: 1px solid gray;
    color: white;
    transition: background-color .2s linear;
}

.square:hover {
    background-color: #ff9b51;
}

.tabs-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 350px;
    height: 100%;
    max-width: 680px;
}

.orange-btn {
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: #ff9b51;
    border-radius: 5px;
    padding: 10px 40px;
}

.tabs-text a:hover {
    background-color: #ff8932;
}

.sub-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 600px;
    
}

.sub-list-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 420px;
    max-width: 440px;
    width: 100%;
}

.sub-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.sub-title-text {
    max-width: 370px;
}

.sub-title span {
    font-size: 20px;
    color: #ff9b51;
    border: 3px solid #ff9b51;
    padding: 10px;
    border-radius: 50%;
}

.sub-list-text h3::after{
    display: block;
    content: "";
    width: 65px;
    height: 3px;
    background-color: #ff9b51;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sub-list img {
    box-shadow: 0 0 15px -5px black;
}

.pictures-section {
    background-color: #f5f5f5;
}

.pictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 520px;
}

.picture-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 470px;
    min-height: 250px;
}

.picture-text h3::after{
    display: block;
    content: "";
    width: 65px;
    height: 3px;
    background-color: #ff9b51;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pictures img {
    box-shadow: 0 0 15px -5px black;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 650px;
}

.section-text {
    text-align: center;
}

.section-text  h2{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
}

.section-text  h2::after{
    display: block;
    content: "";
    width: 85px;
    height: 3px;
    background-color: #ff9b51;
    margin: 25px auto;
}

.services-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 280px;
}

.services-item span {
    font-size: 32px;
    color: #ff9b51;
    border: 3px solid #ff9b51;
    padding: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    min-height: 950px;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
}

.plan-list {
    display: flex;
    justify-content: space-between;
    
}

.plan-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 345px;
    min-height: 210px;
    background-color: #333333;
    border-bottom: 5px solid #ff9b51;
}

.plan-item h3 {
    color: white;
    font-weight: 700;
}

hr {
    width: 100%;
    background-color: white; 
    height: 1px; 
    border: none;
}

.plan-item span {
    font-size: 94px;
    font-weight: 600;
    color: white;

}

.plan-item span span {
    font-size: 24px;
} 

.plan-item p {
    font-size: 14px;
    font-style: italic;
}

.orange-line {
    display: flex;
    justify-content: space-between;
}

.orange-line div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 345px;
    min-height: 40px;
    background-color: #ff9b51;
}

.orange-line p {
    font-size: 18px;
    color: white;
   
}

.hidden {
    display: none;
}

.plan-item:hover {
    box-shadow: none;
}

.plan-list:hover ~ .hidden {
    display: block;
}

.advantages {
    display: flex;
    justify-content: space-between;
}

.advantage-list {
    padding: 0 auto;
    min-width: 345px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    
}

.advantage-list p {
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 0;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 390px;
}

.comments-list {
    display: flex;
    justify-content: space-between;
}

.comments-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 300px;
    min-height: 220px;
}

.comments-item div:first-child {
    font-size: 14px;
    background: url(/img/u229.png) no-repeat;
    background-position: center;
    height: 145px;
    width: 90%;
}

.comments-item p:first-child {
    padding: 10px;
}

.autor {
    display: flex;
    align-items: center;
}

.autor div {
    padding-left: 10px;
}

.download-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 320px;
    background-color: #9a9a9a;
}

.download { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 190px;
}

.download .section-text   {
    color: white;
}

.download .section-text p {
    color: white;
    font-size: 25px;
    font-weight: 200;
}

.download .section-text h2::after {
    background-color: white;
    box-shadow: 0px 0px 20px 1px black;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 610px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 470px;
}

.contact-input {
    display: flex;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 530px;
}

.contact-message {
    min-width: 530px;
}

textarea {
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
}

.textarea::placeholder {
    font-size: 18px;
    color: #bdbdbd;
}

footer {
    display: flex;
    align-items: center;
    background-color: black;
    min-height: 80px;
}

.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 430px;
}

.footer-icon {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.footer-icon a:hover{
    color: #ff9b51;
}


footer p {
    display: flex;
    justify-content: center;
}

.footer-icon a {
    font-size: 25px;
    color: gray;
}

.image {
    width: 100%;
}

@media (max-width: 1450px) {
    .wrapper {
        width: 90%;
    }
}

